* {
  margin: 0;
  padding: 0;
}

.App-input {
  width: 20%;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pop-up-container {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pop-up-graph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 8%;
  right: 18%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 24px;
  font-size: 45px;
  background: white;
  font-weight: 500;
  transform: rotate(45deg);
}

.overlay-container {
  position: absolute;
  width: 550px;
  border-radius: 25px;
  margin: 10px;
  padding: 15px;
  background: black;
  border: 1px solid white;
  color: white;
  opacity: 85%;
  z-index: 5;
}
